/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/uploads
/public/import
/public/assets/img/decors
/public/assets/img/galeri
/public/assets/img/certificates
/public/assets/img/features
/public/assets/img/flags
public/mclckpma/
public/robots.txt
/.idea
composer.lock
/public/vendor
package-lock.json
