@import "function";

.section{
    .article{
        .documents{
            background: #ffffff;padding: 70px;text-align: left;max-width: 1330px;margin: 0 auto;
            @media #{$all}{
                padding: 25px;
            }
            a{
                display: block;color:$black;font:17px $semibold;text-decoration: none;border-bottom: 1px solid rgba(112, 112, 112,0.20);padding: 20px 240px 20px 0;transition: .3s;position: relative;
                @media (max-width: 1366px){
                    font-size: 16px;
                }
                @media #{$mob}{
                    padding: 20px 0;
                }
                &:hover{
                    color:$color;
                    .rights{
                        span{
                            background: $color;color:#ffffff;
                            &:before{ -webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);}
                        }
                    }
                }
                .rights{
                    position: absolute;top:0;right: 0;margin:13px 0;
                    small{color:#959595;font-size: 14px;}
                    @media #{$mob}{
                       position: initial;
                        margin:10px 0 0;
                        display: inline-block;
                        width: 100%;
                    }
                    span{
                        font:12px/37px $semibold;text-transform: uppercase;border-radius: 22px;border:1px solid #CFCFCF;height: 37px;width: 155px;text-align: center;transition: .3s;display: inline-block;position: relative;margin-left: 25px;
                        &:before{content:"";background: url('#{$img}download.svg') no-repeat left center;display: inline-block;width: 19px;height: 19px;margin-right: 10px;vertical-align: middle;transition: .3s;}
                        @media #{$min}{
                            float: left;
                            margin-left: 0;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
