@import "function";

.talep-et{
    border:1px dashed #D6D6D6;border-radius: 20px;padding: 30px;font-style: normal;line-height: 27px;
    strong{display: block;margin-bottom: 10px}
}

.nav{
    margin-top: 30px;
    a{
        margin-right: 10px;margin-bottom: 10px;background: $color;color:#ffffff;font:19px/60px $semibold;height: 60px;border:none;cursor: pointer;border-radius: 40px;padding: 0 50px;display: inline-block;text-decoration: none;
        @media (max-width: 1366px){
            font-size: 13px;height: 40px;line-height: 40px;padding: 0 30px;
        }
        @media #{$min}{
            width: 100%;
            text-align: center;
        }
    }
}