@import "function";
.select2-container{
    width: 100% $i;
}

.section{
    .article{
        .content{
            .group{
                border-top:1px solid #CFCFCF;
                padding: 65px 0;
                &:first-child{
                    border: none;
                    padding-top: 85px;
                    margin-top: -80px;
                }
            }
            .block{
                .list{
                    font-size: 16px;
                    padding-bottom: 50px;
                    b{
                        font-size: 18px;
                    }
                    strong{
                        font-size: 17px;
                        margin-top: 5px;
                    }
                    p{
                        margin: 0;
                    }
                    .btn1{
                        font-size: 16px;
                        height: 50px;
                        line-height: 50px;
                        &:before{
                            vertical-align: bottom;
                            transform: translateY(-8px);
                            background-size: 24px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
